# local package
-e .

# external requirements
click
Sphinx
coverage
#awscli>=1.29.0
flake8
pandas
#logging
numpy 
pathlib 
scikit-learn>=1.4.2,<1.5
imbalanced-learn==0.14.0
joblib
xgboost==3.1.2
#sys
#json