apiVersion: 1

deleteDatasources:
  - name: prometheus

datasources:
  - name: prometheus
    type: prometheus
    uid: promID
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: false