name: Lint Workflow

on:
  push:
    branches: [ "master" ]

  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout on master
      uses: actions/checkout@v6

    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Run flake8
      run: flake8 src/ --max-line-length=88 --extend-ignore=E203,W503

    - name: Run black
      run: black --check src/

    - name: Run isort
      run: isort --check-only src/
